/* mavi: #C3E5F8(195, 229, 248) kırmızı: #F8C3C3(258, 195, 195) yeşil: #E5F8C3(229, 248, 195) */

.logo, .loginButton {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    width: 400px;
    margin-top: 125px;
}

.loginButton {
    margin-top:50px;
    width: 250px;
    height: 70px;
    border-radius: 35px;
    border-width: 3px;
    background-color: rgb(195, 229, 248);
    font-size: 1.4em;
    cursor: pointer;
    transition: 0.5s;
}

.loginButton:hover {
    background-color: rgb(229, 248, 195);
}

body {
    margin: 0px;
    padding: 10px;
    background: linear-gradient(lightgray, skyblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}